body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
.navbar-nav {
    float: right;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #eee;
}
.starter-template {
    padding: 0px 15px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #0abab5;
	
}
.foo	{
    height: 400px;
    background: url('../images/main_r.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.motto
{
	color: #888;
}
}
.panel-footer {
    text-align: center;
}
